# GitHub Code Owners file
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global Owners
*       @Geneonosis @Zaqttack