@import "../../../../index.css";

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background-color: var(--primary-riverwalk-teal);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}

a:hover {
    color: var(--secondary-fiesta-gold);
    transition: 0.3s;
}

