* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*hide the scrollbars*/
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.App {
    background-color: #08183f;
    min-height: 100vh;
    transition: 1s;
}

/* media query for anything bigger than 1300px */
@media (min-width: 1600px) {
    .App {
        background-color: #08183f;
        transition: 1s;
    }
}